.navContainer {
  display: flex;
  justify-content: start;
  gap: 24px;
  align-items: center;
  padding: 12px 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  > h5 {
    font-style: normal;
  }
}